body{

    background-color: ghostwhite;
    background-position: center;
}

.header{
    display: flex;
    padding: auto;
    margin-top: 10px;
}

table{
    padding: auto;
    align-items: center;
    margin:auto;
}

.logo{
    height: 50px;
    width: 100px;
    padding-left: 10px;
    padding-right: 30px;
}